{% extends 'aula_virtual/menu.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{%block extracss %}
    <link rel="stylesheet" href="{%static 'css/bienvenida.css'%}">
{% endblock extracss %}

{% block body%}
    <div id="main-container">
        <section class="perfil-usuario">
            <div class="contenedor-perfil">
                <div class="portada-perfil" style="background-image: url('../../static/img/trujillo.jpg');">
                    <div class="sombra"></div>
                    <div class="avatar-perfil">
                        <img src="../../static/img/logoLiceo.png" alt="">
                    </div>
                </div>
            </div>
        </section>

        <div class="contenedor-bienvenida">
            <h2>Bienvenido a la innovación</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi, quos placeat. Et vitae consequuntur praesentium rem doloremque. Dolore unde ex voluptatibus iusto, minima voluptas ab ipsum voluptate eveniet velit libero.</p>
            <h2>Lorem ipsum dolor sit, amet consectetur</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ratione aliquid aperiam ipsum, in tenetur delectus. Saepe ad numquam, perferendis blanditiis natus consectetur quae nostrum repellat, magni, possimus corrupti perspiciatis.</p>
        </div>
    </div>
{% endblock body %}
