
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula Virtual</title>
    <link rel="stylesheet" href="../../static/css/lateral.css">

</head>
<body>
    
    <div id="sidemenu" class="menu-collapsed">
        <div id="header">
            <div id="title"><span>Vida MRR</span></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>

        </div>
        <div id="profile">
            <div id="photo"><img src="../../static/img/logoLiceo.png" alt=""></div>
            <div id="name"><span>Marcos Rivas</span></div>
        </div>
        <div id="menu-items">
            <div class="item">
                <a href="#">
                    <div class="icon"> <img src="../../static/img/logoLiceo.png" alt=""> </div>
                    <div class="title"> <span>Inicio</span>  </div>
                </a>
            </div>
            <div class="item separator">

            </div>
            <div class="item">
                <a href="#">
                    <div class="icon"> <img src="../../static/img/logoLiceo.png" alt=""> </div>
                    <div class="title"> <span>Inicio</span>  </div>
                </a>
            </div>
        </div>
    </div>
    <div id="main-container">
        Hola a todos
    </div>

    <script>
        const btn = document.querySelector('#menu-btn');
        const menu = document.querySelector('#sidemenu');

        btn.addEventListener('click', e =>{
            menu.classList.toggle('menu-expanded');
            menu.classList.toggle('menu-collapsed');

            document.querySelector('body').classList.toggle('body-expanded');
        });
    </script>
</body>
</html>