{% extends 'aula_virtual/menu.html' %}
{% load static %}

{% block titulo %}Perfil{% endblock %}

{%block extracss %}
    <link rel="stylesheet" href="{%static 'css/perfil.css'%}">
{% endblock extracss %}

{% block body%}

    <div class="contenedor-perfil" >
        <div class="contenedor-datos" >
            <div class="contenedor-dato">
                <h3>Usuario: </h3>
                <p>{{ user.username}}</p>
            </div>
            <div class="contenedor-dato">
                <h3>Correo: </h3>
                <p>{{ user.email}}</p>
            </div>
            <div class="contenedor-dato">
                <h3>DNI: </h3>
                <p>{{ personas.dni}}</p>
            </div>
            <div class="contenedor-dato">
                <h3>Género: </h3>
                <p>{{ personas.genero}}</p>
            </div>
            <div class="contenedor-dato">
                <h3>Fecha Nacimiento: </h3>
                <p>{{ personas.fecha_nacimiento}}</p>
            </div>
            <div class="contenedor-dato">
                <h3>Número celular: </h3>
                <p>{{ personas.celular}}</p>
            </div>
        </div>
        <div class="contenedor-datos" >
            <div class="contenedor-dato">
                <h3>Nivel: </h3>
                <p style="text-transform:capitalize;">{{ personas.nivel.nombre_nivel}}</p>
            </div>
            <div class="contenedor-dato">
                <h3>Grado: </h3>
                <p>{{ personas.grado.nombre_grado}}°</p>
            </div>
            <div class="contenedor-dato">
                <h3>Sección: </h3>
                <p style="text-transform:uppercase;" >"{{ personas.seccion.nombre_seccion}}"</p>
            </div>
            <div class="contenedor-dato">
                <h3>Fecha de creación: </h3>
                <p>{{ user.date_joined}}</p>
            </div>
            <div class="contenedor-dato">
                <h3>Último ingreso: </h3>
                <p>{{ user.last_login}}</p>
            </div>
        </div>
    </div>
{% endblock body %}